body {
  background-color: #EAF6F6;
}

hr {
  border: 4px dotted grey;
  border-style: none none dotted;
  color: #fff;
  background-color: #EAF6F6;
  width: 3%;
}
h1{
  color:#66BFBF;
}
h3{
  color: #66BFBF;
}
